:root {
    --color-background: #2C3E50;
    --text-color: #FC4349;
    --color-minor: #5d5d5d;
    --border-radius: 4px;
    --text-shadow-spread: 1px;
}

body {
    background-color: var(--color-background);
}

.app-root {
  margin: 100px auto;
}

.app-calendar-root {
    width: 210px;
    border: 1px solid var(--color-minor);
    border-radius: var(--border-radius);
    background-color: var(--color-background);
    color: var(--text-color);
    padding: 10px;
    margin: 0;
}

p.app-calendar-control-row,
p.app-calendar-weekday-row,
p.app-calendar-date-cell-inner-container {
    margin: 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    text-shadow: 0 0 var(--text-shadow-spread) var(--text-color);
}

div.app-calendar-date-cell-outer-container {
  display: flex;
} 

p.app-calendar-date-cell-inner-container {
    flex-shrink: 0;
    width: 100%;
    margin-right: 10%;
}

p.app-calendar-control-row>span:nth-child(3) {
    width: 90px;
}

p.app-calendar-control-row>span,
p.app-calendar-weekday-row>span,
p.app-calendar-date-cell-inner-container>span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    box-sizing: border-box;
    transition: background .3s ease;
    cursor: pointer;
}

p.app-calendar-control-row>span:hover,
p.app-calendar-weekday-row>span:hover,
p.app-calendar-date-cell-inner-container>span:hover {
    background-color: var(--color-minor);
}

p.app-calendar-date-cell-inner-container>span:not(.dateCell) {
    color: var(--color-minor);
    text-shadow: 0 0 var(--text-shadow-spread) var(--color-minor);
}

p.app-calendar-date-cell-container>span.isToday {
    border: 1px solid var(--color-minor);
    line-height: 28px;
}